<!DOCTYPE html>
<html>

<head>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="/styles.css">

    <title>GIF Finder</title>
</head>

<body>
    <h1>Random GIF Finder</h1>



    <div id="app">

        <div class="d-flex justify-content-center">
            <div class="input-group d-flex w-50  p-5">
                <input v-model="tagGif" type="text" class="form-control" placeholder="Give me a gif about..." aria-label="Recipient's username" aria-describedby="basic-addon2">
                <div class="input-group-append">
                    <button v-on:click="gifkcd" class="btn btn-success" type="button">Get Gif</button>
                </div>
            </div>
        </div>

        <div v-if="loadingGif" align="center">
            <p>Loading gif...</p>
        </div>
        <div v-else align="center">
            <div v-for="gif in searchedGifs">
                <h2>{{gif.data.title}}</h2>
                <iframe v-bind:src="gif.data.embed_url" width="480" height="311" frameBorder="0"></iframe>
                <p>{{gif.title}}</p>
                <p><i>#{{gif.data.id}}, drawn on {{gif.data.import_datetime}}</i></p>
            </div>
        </div>

    </div>


    <div class="footer">
        <a href="https://github.com/Jegber/CS260-cp3"> justin egbert github </a>
    </div>


    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.2/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="/script.js"></script>
</body>

</html>
